<div>
  <h1>Pagina de mostrar productos</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut optio maiores
    recusandae, et reprehenderit consequuntur laborum blanditiis numquam
    sapiente ex! Vero numquam neque totam minima beatae eius architecto vitae
    autem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut optio maiores
    recusandae, et reprehenderit consequuntur laborum blanditiis numquam
    sapiente ex! Vero numquam neque totam minima beatae eius architecto vitae
    autem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut optio maiores
    recusandae, et reprehenderit consequuntur laborum blanditiis numquam
    sapiente ex! Vero numquam neque totam minima beatae eius architecto vitae
    autem!
  </p>
</div>
