:host {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #6a94ec;
}

.conteiner {
  background-color: #fff;
  padding: 15px;
  display: grid;
}

.btn {
  margin: 0 auto 15px;
}
