<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #menuLeft mode="side" opened>
    <div class="sidenav-menu">
      <button mat-button routerLink="/productos">
        <mat-icon fontIcon="list"></mat-icon>
        Listar Productos
      </button>
      <button mat-button routerLink="/productos/formulario">
        <mat-icon>playlist_add</mat-icon>
        Crear Producto
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesion
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button aria-label="Menu" (click)="menuLeft.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
